#services {
  width: 85%;
  height: 98vh;
  margin: auto;
  position: relative;
}

#services .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;
}

#services .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: auto;
  width: 100%;
  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .swiper-wrapper {
  direction: rtl !important; /* Ensure RTL for Swiper wrapper */
}
#services .mySwiper .col-span {
  grid-column: span 2 !important; /* Span the second-row slide across 2 columns */
}
